<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>50 Project In 50 Days</title>
  </head>
  <body>
    <h1>Projects</h1>
    <div class="container">
      <div class="project">
        <p class="project-day">
          <a href="/day1">Day 1</a>
        </p>
        <p class="project-name"><a href="/day1">Day 1</a></p>
        <p class="project-description"></p>
      </div>
      <div class="project">
        <p class="project-day"><a href="/day2">Day 2</a></p>
        <p class="project-name"></p>
        <p class="project-description"></p>
      </div>
      <div class="project">
        <p class="project-day"><a href="/day3">Day 3</a></p>
        <p class="project-name"></p>
        <p class="project-description"></p>
      </div>
      <div class="project">
        <p class="project-day"><a href="/day4">Day 4</a></p>
        <p class="project-name"></p>
        <p class="project-description"></p>
      </div>
      <div class="project">
        <p class="project-day"><a href="/day5">Day 5</a></p>
        <p class="project-name"></p>
        <p class="project-description"></p>
      </div>
    </div>
  </body>
</html>
